.Input {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-bottom: 2px ridge #333;
    margin: 8px 0;
    background-color: transparent;
    color: #333;
}

input:focus{
    outline: none;
}

@media screen and (max-width: 660px) {
    .Input {
        width: 85%;
    }
}